<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <appSettings>
      <add key="DSN" value="Invera"/>
      <add key="TemplatePath" value="C:\Braner\Templates\"/>
      <add key="DestPath" value="C:\Braner\"/>
      <add key="HdrFileName" value="Header File.xls"/>
      <add key="MultFileName" value="Mults File.xls"/>
      <add key="DefaultWdthT" value="0.005"/>
    </appSettings>
</configuration>